themecolor = #3A518E
themecolor1 = #0C266E
themecolor2 = #1F3A80
themecolor3 = #6274A4
themecolor4 = #949EB8

html,body
    margin 0
    padding 0
    height 100%

.view
    height 100%
    
.desktop
    min-height 100%
    position relative
    height auto !important
    height 100%
    

.desktop button,
.desktop input
    border-radius 2px
    
    .btn-primary
        color themecolor

.desktop button.query
    width 100px

.banner
    background themecolor3; /* Old browsers */
    background -moz-linear-gradient(top,  themecolor2 0%, themecolor3 100%);
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,themecolor2), color-stop(100%,themecolor3));
    background -webkit-linear-gradient(top,  themecolor2 0%,themecolor3 100%);
    background -o-linear-gradient(top,  themecolor2 0%,themecolor3 100%);
    background -ms-linear-gradient(top,  themecolor2 0%,themecolor3 100%);
    background linear-gradient(to bottom,  themecolor2 0%,themecolor3 100%);
    height 80px
    font-family Arial, SimHei, Sans-serif
    color white
    font-size 32px
    line-height 80px
    
    img
        height 60px
        margin-left 20px
        margin-right 10px

.desktop-filter
    .content
        width 950px
        margin 5px auto
    
    label
        margin-left 10px
        color themecolor1
    p
        margin-top 10px
    
    button
        margin-left 10px

.desktop-result
    padding-bottom 40px
    .content
        width 800px
        margin-left auto
        margin-right auto
        text-align center
        
    .result-table .td-center
        text-align center
        vertical-align middle
        
    .result-table .td-bold
        font-weight bold
        color themecolor4
    
    .result-table th
        text-align center
        background-color themecolor
        color white
        
.desktop-footer
    clear both
    height 40px
    color white
    position absolute
    bottom 0
    width 100%
    text-align center
    font-size 12px
    padding-top 10px
    background themecolor3; /* Old browsers */
    background -moz-linear-gradient(top,  themecolor3 0%, themecolor2 100%);
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,themecolor3), color-stop(100%,themecolor2));
    background -webkit-linear-gradient(top,  themecolor3 0%,themecolor2 100%);
    background -o-linear-gradient(top,  themecolor3 0%,themecolor2 100%);
    background -ms-linear-gradient(top,  themecolor3 0%,themecolor2 100%);
    background linear-gradient(to bottom,  themecolor3 0%,themecolor2 100%);
    

@import spinner
