<style>
    .navFixedOffset {
        margin-top: 50px;
    }
</style>
<section>
    <img src="images/bg.gif" class="img-responsive" alt=""/>
</section>
<section class="card">
    <section class="card-content p10">
        <form name="queryForm" ng-model="queryData" ng-submit="query()">
            <section class="input-group mb5">
                <span class="input-group-addon">开始日期</span>
                <input type="date" class="form-control flat-input" ng-model="queryData.startDate" required/>
            </section>
            <section class="input-group mb5">
                <span class="input-group-addon">结束日期</span>
                <input type="date" class="form-control flat-input" ng-model="queryData.endDate" required/>
            </section>
            <section class="input-group mb5">
                <input type="text" class="form-control flat-input input-lg mb5" name="phoneOrName"
                       ng-class="{'input-err':(queryForm.phoneOrName.$dirty&&queryForm.$invalid)}"
                       ng-model="queryData.phoneOrName" ng-maxlength="18"
                       ng-pattern="/^[^`~!@#$%^&*()+=|\\\][\]\{\}:;'\,.<>/?]{1}[^`~!@$%^&()+=|\\\][\]\{\}:;'\,.<>?]{0,19}$/"
                       placeholder="请输入身份证号或姓名" required/>
                <span class="input-group-btn">
                    <input class="btn btn-primary width100 input-lg" type="submit" value="查询"
                           ng-disabled="queryForm.$invalid"/>
                </span>
            </section>
            <section ng-show="queryForm.phoneOrName.$dirty&&queryForm.$invalid">
                <div class="alert alert-danger">输入的内容有误！</div>
            </section>
        </form>
    </section>
</section>
<div class="result" ng-show="showList" accordion close-others="false">
    <section class="card" ng-repeat="item in resultDataList"
             ng-init="item.status.open=true"
             accordion-group is-open="item.status.open">
        <header accordion-heading>
            税单号&nbsp;{{!!item.tax_bill_id?item.tax_bill_id:'无'}}
            <span class="glyphicon" style="position: absolute;top: 13px;right: 5px;z-index:999;color: #999"
                  ng-class="{'glyphicon-chevron-down': item.status.open, 'glyphicon-chevron-right': !item.status.open}"></span>
        </header>
        <div class="list-group">
            <div class="toolbar p10" style="border-bottom: 1px solid #DDD;background-color: #f7f7f7;">
                征税额：{{item.tax_total}}
            </div>
            <div class="clearfix list-item p15" ng-repeat="order in item.orders">
                <div>
                    <span class="glyphicon glyphicon-list-alt text-muted mr5"></span>
                    <span class="text-muted">订单号：{{order.order_id}}</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-stats text-muted mr5"></span>
                    <span class="text-muted">状态：{{order.status}}</span>
                </div>
                <div ng-hide="item.rateable_total==0">
                    <span class="glyphicon glyphicon-credit-card text-muted mr5"></span>
                    <span class="text-muted">货运号：{{order.freight_id}}</span>
                </div>
                <div>
                    <span class="glyphicon glyphicon-time text-muted mr5"></span>
                    <span class="text-muted">最后更新日期：{{order.last_updated | date:'yyyy-MM-dd'}}</span>
                </div>
            </div>
        </div>
    </section>

    <!--<section class="card">
        <section class="card-header">
            <div class="card-title">
                <h4>查询结果</h4>
            </div>
        </section>
        <section class="card-nav">
            <ul class="nav nav-tabs width100" id="navigate" ng-class="{'navbar-fixed-top':fixedTop}">
                <li ng-repeat="item in NavObj"
                    ng-click="ChangeList(item.Value)"
                    ng-class="{'active':ActivatedValue==item.Value}">
                    <a href="" style="font-size: 16px;padding: 10px 30px;">{{item.DisplayName}}</a>
                </li>
            </ul>
        </section>
        <section class="card-content" ng-class="{'navFixedOffset':fixedTop}">
            <div class="p10" ng-hide="resultDataList.length>0">
                <div class="loader" ng-show="ListDataStatus=='loading'"></div>
                <div ng-show="ListDataStatus=='none'">
                    <h5 class="text-muted">暂无数据</h5>
                </div>
            </div>
            <div class="list-group">
                <div class="clearfix list-item" ng-repeat="item in resultDataList">
                    <h4 class="text-danger">
                        {{item.receiver_name}}
                    </h4>

                    <div>
                        <span class="glyphicon glyphicon-pencil text-muted mr5"></span>
                        <span class="text-muted mr10">个人税单号：{{item.tax_bill_id}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-list-alt text-muted mr5"></span>
                        <span class="text-muted">计税物品总值：{{item.tax_total}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-stats text-muted mr5"></span>
                        <span class="text-muted">行邮税税额：{{item.post_sum}}</span>
                    </div>
                    <div ng-hide="item.rateable_total==0">
                        <span class="glyphicon glyphicon-credit-card text-muted mr5"></span>
                        <span class="text-muted">应征税额：{{item.rateable_total}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-time text-muted mr5"></span>
                        <span class="text-muted">计税日期：{{item.taxable_date | date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </div>
        </section>
    </section>-->
</div>
<article>
    <p class="p10 text-muted"><span class="glyphicon glyphicon-heart-empty mr5"></span>
        本服务由广州海关12360提供，仅供查询在广州海关通关的跨境个人税单。
        回复“跨境个人税单”可查看具体说明，同时您也可以直接 回复咨询问题进行人工咨询，我们在工作日将安排专人跟进您 的咨询建议。</p>
</article>