<div class="card">
    <div class="card-content p10">
        <form name="queryForm" ng-model="queryData" ng-submit="query()">
            <section class="input-group mb5">
                <input type="text" class="form-control flat-input input-lg mb5" name="phoneOrName"
                       ng-class="{'input-err':(queryForm.phoneOrName.$dirty&&queryForm.$invalid)}"
                       ng-model="queryData.phoneOrName" ng-maxlength="18"
                       ng-pattern="/^[^`~!@#$%^&*()+=|\\\][\]\{\}:;'\,.<>/?]{1}[^`~!@$%^&()+=|\\\][\]\{\}:;'\,.<>?]{0,19}$/"
                       placeholder="请输入身份证号或姓名" required/>
                <span class="input-group-btn">
                    <input class="btn btn-primary width100 input-lg" type="submit" value="查询"
                           ng-disabled="queryForm.$invalid"/>
                </span>
            </section>
            <section ng-show="queryForm.phoneOrName.$dirty&&queryForm.$invalid">
                <div class="alert alert-danger">输入的内容有误！</div>
            </section>
        </form>
    </div>
</div>
<div class="card" ng-show="resultDataList.length>0">
    <div class="card-header">
        <div class="card-title">
            <h4>查询结果</h4>
        </div>
    </div>
    <div class="card-content">
        <div class="list-group">
            <div class="clearfix list-item" ng-repeat="item in resultDataList">
                <!--<div class="fl width30">
                    <img src="images/5.jpg" class="img-responsive img-circle" alt=""/>
                </div>-->
                <div>
                    <h4 class="text-danger">
                        {{item.receiver_name}}
                    </h4>

                    <div>
                        <span class="glyphicon glyphicon-pencil mr5"></span>
                        <span class="text-muted mr10">个人税单号：{{item.tax_number}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-list-alt mr5"></span>
                        <span class="text-muted">计税物品总值：{{item.tax_total}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-stats mr5"></span>
                        <span class="text-muted">行邮税税额：{{item.post_sum}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-credit-card mr5"></span>
                        <span class="text-muted">应征税额：{{item.rateable_total}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-time mr5"></span>
                        <span class="text-muted">计税日期：{{item.taxable_date | date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>