<section>
    <img src="images/bg.gif" class="img-responsive" alt=""/>
</section>
<section class="card">
    <section class="card-content p10">
        <form name="queryForm" ng-model="queryData" ng-submit="query()">
            <section class="input-group mb5">
                <span class="input-group-addon">开始日期</span>
                <input type="date" class="form-control flat-input" ng-model="queryData.startDate"/>
            </section>
            <section class="input-group mb5">
                <span class="input-group-addon">结束日期</span>
                <input type="date" class="form-control flat-input" ng-model="queryData.endDate"/>
            </section>
            <section class="input-group mb5">
                <input type="text" class="form-control flat-input input-lg mb5" name="phoneOrName"
                       ng-class="{'input-err':(queryForm.phoneOrName.$dirty&&queryForm.$invalid)}"
                       ng-model="queryData.phoneOrName" ng-maxlength="18"
                       ng-pattern="/^[^`~!@#$%^&*()+=|\\\][\]\{\}:;'\,.<>/?]{1}[^`~!@$%^&()+=|\\\][\]\{\}:;'\,.<>?]{0,19}$/"
                       placeholder="请输入身份证号或姓名" required/>
                <span class="input-group-btn">
                    <input class="btn btn-primary width100 input-lg" type="submit" value="查询"
                           ng-disabled="queryForm.$invalid"/>
                </span>
            </section>
            <section ng-show="queryForm.phoneOrName.$dirty&&queryForm.$invalid">
                <div class="alert alert-danger">输入的内容有误！</div>
            </section>
        </form>
    </section>
</section>
<section class="card" ng-show="resultDataList.length>0">
    <section class="card-header">
        <div class="card-title">
            <h4>查询结果</h4>
        </div>
    </section>
    <section class="card-content">
        <div class="loader" ng-hide="resultDataList.length>0"></div>
        <div class="list-group">
            <div class="clearfix list-item" ng-repeat="item in resultDataList">
                <!--<div class="fl width30">
                    <img src="images/5.jpg" class="img-responsive img-circle" alt=""/>
                </div>-->
                <div>
                    <h4 class="text-danger">
                        {{item.receiver_name}}
                    </h4>

                    <div>
                        <span class="glyphicon glyphicon-pencil mr5"></span>
                        <span class="text-muted mr10">个人税单号：{{item.tax_number}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-list-alt mr5"></span>
                        <span class="text-muted">计税物品总值：{{item.tax_total}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-stats mr5"></span>
                        <span class="text-muted">行邮税税额：{{item.post_sum}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-credit-card mr5"></span>
                        <span class="text-muted">应征税额：{{item.rateable_total}}</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-time mr5"></span>
                        <span class="text-muted">计税日期：{{item.taxable_date | date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<article>
    <p class="p10 text-muted"><span class="glyphicon glyphicon-heart-empty mr5"></span>
        本服务由广州海关12360提供，仅供查询在广州海关通关的跨境个人税单。
        回复“跨境个人税单”可查看具体说明，同时您也可以直接 回复咨询问题进行人工咨询，我们在工作日将安排专人跟进您 的咨询建议。</p>
</article>